/*Zipp Squad Stylesheet*/

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  height: 50%;
  float: right;
  
  }

/* Hide the images by default */
.mySlides {
  display: none;
  margin-top: -5em;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #73ff73;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  margin-top: 8em;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background: url('nav.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 20px;
  margin-top: -10em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  }

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
  margin-left: 5em;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


@media(max-width:768px){
	{
		height: auto;
		width: auto;
		float: left;
	}
}

/*gif complimentary colors */
/*background: #84e894; (nav)
background: #f1f1f1; (body)
ecdf3b (bright yellow)
73ff73  (lime green)
dff386  (soft yellow/green)
f7f7d0  (light gray yellow)  
*/